extends admin-dashboard.pug
append css
    link(rel="stylesheet", type="text/css", href="/css/actor-panel.css")

block content
    button(onclick="showAddForm()") Dodaj aktora
    button(onclick="showSearchForm()") Wyszukaj aktora
    button#showListBtn Wyświetl wszystkich aktorów
    form#addForm.invisible(name="addForm")
        #addFormAlert
        input(type="text", name="name")
        br
        input(type="text", name="surname")
        br
        input(type="date" name="bday")
        br
        button(type="submit") Dodaj 
    form#searchForm.invisible(name="searchForm")
        #searchFormAlert
        input(type="text", name="name")
        br
        input(type="text", name="surname")
        br
        button(type="submit") Szukaj 
    #dataContainer
    script(src="/js/actor-panel.js")