extends admin-dashboard.pug

block content
    .button-nav
        button(onclick="changeForm('addActorForm')") Dodaj aktora
        button(onclick="changeForm('searchActorForm')") Wyszukaj aktora

    #alert

    form#addActorForm.input-form.invisible(name="addActorForm")
        .input-wrapper
            label Imię:
            input(type="text", name="name")
            label Nazwisko:
            input(type="text", name="surname")
            label Data urodzenia:
            input(type="date" name="bday")
        button(type="submit") Dodaj 

    form#searchActorForm.input-form.invisible(name="searchActorForm")
        .input-wrapper
            label Imię:
            input(type="text", name="name")
            label Nazwisko:
            input(type="text", name="surname")
        button(type="submit") Szukaj 

    #dataContainer
    
    script(src="/js/admin/actor-panel.js")