extends admin-dashboard.pug
append css
    link(rel="stylesheet", type="text/css", href="/css/actor-panel.css")

block content
    button(onclick="changeForm('addActorForm')") Dodaj aktora
    button(onclick="changeForm('searchActorForm')") Wyszukaj aktora
    #alert
    form#addActorForm.nav.invisible(name="addActorForm")
        input(type="text", name="name")
        br
        input(type="text", name="surname")
        br
        input(type="date" name="bday")
        br
        button(type="submit") Dodaj 
    form#searchActorForm.nav.invisible(name="searchActorForm")
        input(type="text", name="name")
        br
        input(type="text", name="surname")
        br
        button(type="submit") Szukaj 
    #dataContainer
    script(src="/js/actor-panel.js")