doctype html
html(lang="pl")
    head
        meta(charset="utf-8")
        link(href="https://fonts.googleapis.com/css?family=Bangers&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=McLaren&display=swap", rel="stylesheet")
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        block css

        script(src="/js/utils.js")
        block js

    body
        .nav-bar
            a#performance-btn.nav-item(href="/admin/performance") Spektakle
            a#ticket-btn.nav-item(href="/admin/ticket") Bilety
            a#hall-btn.nav-item(href="/admin/hall") Sale
            a#actor-btn.nav-item(href="/admin/actor") Aktorzy
            a#director-btn.nav-item(href="/admin/director") Reżyserzy
            a#scriptwriter-btn.nav-item(href="/admin/scriptwriter") Scenarzyści
            a#technician-btn.nav-item(href="/admin/technician") Technicy teatralni

            a.logout-btn(href="/admin/logout") Wyloguj  

        .content
            block content
        