extends admin-dashboard.pug
append css
    link(rel="stylesheet", type="text/css", href="/css/director-panel.css")

block content
    button(onclick="showAddForm()") Dodaj reżysera
    button(onclick="showSearchForm()") Wyszukaj reżysera
    form#addForm.invisible(name="addForm")
        #addFormAlert
        input(type="text", name="name")
        br
        input(type="text", name="surname")
        br
        input(type="date" name="bday")
        br
        input(type="text" name="description")
        br
        button(type="submit") Dodaj 
    form#searchForm.invisible(name="searchForm")
        #searchFormAlert
        input(type="text", name="name")
        br
        input(type="text", name="surname")
        br
        button(type="submit") Szukaj 
    form#editForm.invisible(name="editForm")
        #editFormAlert
        input(type="text", name="id", disabled)
        br
        input(type="text", name="name")
        br
        input(type="text", name="surname")
        br
        input(type="date" name="bday")
        br
        input(type="text" name="description")
        br
        button(type="submit") Edytuj 
    #dataContainer
    script(src="/js/director-panel.js")