extends admin-dashboard.pug

block content
    .button-nav
        button(onclick="changeForm('addGenreForm')") Dodaj gatunek sztuk teatralnych
        button#viewGenres Wyświetl dostępne gatunki
        button(onclick="changeForm('addPerformanceForm')") Dodaj spektakl
        button(onclick="changeForm('searchPerformanceForm')") Wyszukaj spektakl
        button(onclick="changeForm('searchStagePerformanceForm')") Wyszukaj wystawienia spektakli
        button#viewStagePerformances Wyświetl wszystkie wystawienia spektakli
    
    form#addGenreForm.input-form.invisible(name="addGenreForm")
        .input-wrapper
            label Nazwa gatunku:
            input(type="text", name="name")
        button(type="submit") Dodaj 

    form#addPerformanceForm.input-form.invisible(name="addPerformanceForm")
        .input-wrapper
            label Tytuł spektaklu:
            input(type="text", name="title")
            label Gatunek:
            select.genreSelect
            label Reżyser:
            select.directorSelect
            label Scenarzysta:
            select.scriptwriterSelect
            label Opis:
            textarea(name="description")
        button(type="submit") Dodaj 

    form#searchPerformanceForm.input-form.invisible(name="searchPerformanceForm")
        .input-wrapper
            h3 Spektakl
            label Tytuł:
            input(type="text", name="title")
            label Gatunek:
            input(type="text", name="genre")
            .additional-options.invisible
                h3 Reżyser
                label Imię: 
                input(type="text", name="director_name")
                label Nazwisko: 
                input(type="text", name="director_surname")
                h3 Scenarzysta
                label Imię: 
                input(type="text", name="scriptwriter_name")
                label Nazwisko: 
                input(type="text", name="scriptwriter_surname")
            button.additionalSearch-btn(type="button") Dodatkowe opcje wyszukiwania
        button(type="submit") Szukaj
    
    form#searchStagePerformanceForm.input-form.invisible(name="searchStagePerformanceForm")
        .input-wrapper
            label Data rozpoczęcia:
            input(type="date", name="startDate")
            label Data zakończenia:
            input(type="date", name="endDate")
        button(type="submit") Szukaj

    #editContainer.input-form.invisible
        form#editPerformanceForm(name="editPerformanceForm")
            .input-wrapper
                label ID:
                input(type="text", name="id", disabled)
                label Tytuł spektaklu:
                input(type="text", name="title")
                label Gatunek:
                select.genreSelect
                label Reżyser:
                select.directorSelect
                label Scenarzysta:
                select.scriptwriterSelect
                label Opis:
                textarea(name="description")
            button(type="submit") Edytuj

        #technicianContainer
            table#listOfTechnicians
                thead
                    tr 
                        th(colspan="4") TECHNIK
                    tr
                        th ID
                        th Imię
                        th Nazwisko
                        th Profesja
                tbody

            button#addTechnician-btn(type="button") Dodaj technika
            form#addTechnicianForm.invisible(name="addTechnicianForm")
                .input-wrapper
                    label Profesja:
                    select.professionSelect
                    label Technik:
                    select.technicianSelect
                button(type="submit") Dodaj 

        #roleContainer
            table#listOfRoles
                thead
                    tr
                        th(colspan="2") ROLA
                        th(colspan="3") AKTOR
                    tr
                        th ID 
                        th Nazwa
                        th ID
                        th Nazwisko
                        th Profesja
                tbody

            button#addRole-btn(type="button") Dodaj rolę
            form#addRoleForm.invisible(name="addRoleForm")
                .input-wrapper
                    label Nazwa roli:
                    input(type="text", name="role") 
                    label Aktor:
                    select.actorSelect
                button(type="submit") Dodaj 

    form#stagePlayForm.input-form.invisible(name="stagePlayForm")
        .input-wrapper
            label ID spektaklu:
            input(type="text", name="id", disabled)
            label Data rozpoczęcia:
            input(type="date", name="startDate")
            label Godzina rozpoczęcia:
            input(type="time", name="startTime")
            label Data zakończenia:
            input(type="date", name="endDate")
            label Godzina zakończenia:
            input(type="time", name="endTime")
            label Sala:
            select.hallSelect
        button(type="submit") Dodaj 

    #dataContainer
    script(src="/js/admin/performance-panel.js")