extends admin-dashboard.pug
append css
    link(rel="stylesheet", type="text/css", href="/css/scriptwriter-panel.css")

block content
    button(onclick="changeForm('addScriptwriterForm')") Dodaj scenarzystę
    button(onclick="changeForm('searchScriptwriterForm')") Wyszukaj scenarzystę
    #alert
    form#addScriptwriterForm.nav.invisible(name="addScriptwriterForm")
        input(type="text", name="name")
        br
        input(type="text", name="surname")
        br
        input(type="date" name="bday")
        br
        input(type="text" name="description")
        br
        button(type="submit") Dodaj 
    form#searchScriptwriterForm.nav.invisible(name="searchScriptwriterForm")
        input(type="text", name="name")
        br
        input(type="text", name="surname")
        br
        button(type="submit") Szukaj 
    form#editScriptwriterForm.nav.invisible(name="editScriptwriterForm")
        input(type="text", name="id", disabled)
        br
        input(type="text", name="name")
        br
        input(type="text", name="surname")
        br
        input(type="date" name="bday")
        br
        input(type="text" name="description")
        br
        button(type="submit") Edytuj 
    #dataContainer
    script(src="/js/scriptwriter-panel.js")