extends admin-dashboard.pug

block content
    .button-nav
        button(onclick="changeForm('addTicketTypeForm')") Dodaj typ biletu
        button#viewTicketTypes Wyświetl dostępne typy biletów

    #alert

    form#addTicketTypeForm.input-form.invisible(name="addTicketTypeForm")
        .input-wrapper
            label Nazwa typu:
            input(type="text", name="name")
            label Cena biletu:
            input(type="text", name="price")
        button(type="submit") Dodaj 

    #dataContainer

    script(src="/js/ticket-panel.js")