body, html {
    margin: 0 auto;
    padding: 0;
    background-color: #ddd;
}

.nav-bar {
    padding: 20px;
    text-transform: uppercase;
}

.nav-bar a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 20px;
}

.nav-bar a:hover {
    background-color: red;
}

.logout-btn {
    float: right;
}

.invisible {
    display: none;
}